@tailwind base;
@tailwind components;
@tailwind utilities;

.background-home {
    width: 100%;
    background: #3e3e3f;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100%;
    position: relative;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ---------- HEADER ---------- */
.header {
    width: 100%;
    height: 60px;
    background-color: #101010;
    cursor: pointer;
}
.header .content {
    width: 84%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .content .logo {
    display: flex;
    gap: 0.625rem;
    font-size: larger;
    color: #fff;
    font-weight: 700;
    letter-spacing: 0.05em;
    align-items: center;
    cursor: pointer;
}
.header .content .login {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}
.header .content .account {
    display: flex;
    align-items: center;
    /* gap: 0.25rem; */
    position: relative;
    justify-content: end;
}
.header .content .login .info,
.header .content .account .info {
    color: #fff;
    margin-right: 1rem;
}
.header .content .account .menu {
    position: absolute;
    min-width: 200px;
    top: 100%;
    background-color: #101010;
    color: #fff;
    border-radius: 0.375rem;
    padding: 0.75rem 1.25rem;
    right: 0;
    display: flex;
    z-index: 50;
    flex-direction: column;
}
.header .content .account .menu span {
    cursor: pointer;
    padding-top: 0.5rem;
    display: flex;
    align-items: center;
}

/* ---------- FOOTER ---------- */
.main-footer {
    width: 100%;
    background-color: #101010;
    min-height: 400px;
    padding-top: 2rem;
    color: #fff
}
.main-footer .title {
    display: flex;
    gap: 0.625rem;
    font-size: xx-large ;
    font-weight: 700;
    cursor: pointer;
    letter-spacing: 0.1em;
    margin-left: 3rem;
}
.main-footer .footer-content{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 2rem 6rem;
    font-size: medium;
    line-height: 2.25rem;
}

/* ---------- SIDEBAR ---------- */
.side-bar {
    width: 100%; 
    background-color: #161616;
    border-radius: 0.5rem;
    color: #fff;
    padding: 0.5rem;
}
.side-bar .title {
    font-size: large;
    font-weight: 600;
    margin-bottom: 0.25rem;
}
.side-bar .tagname .link{
    gap: 0.25rem;
    border-bottom: 1px solid #a2a2a2;
    padding: 0.25rem 0;
    cursor: pointer;
}
.side-bar .tagname .link .link-child,
.side-bar .tagname .link-child {
    /* display: flex; */
    cursor: pointer;
    padding-left: 1.25rem;
}

/* ---------- NAVIGATION ---------- */
.navigation {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    background-color: #2f3033;
    color: #fff;
    font-weight: 600;
}
.navigation.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
  }
.navigation .nav-web {
    width: 84%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navigation .nav-web .content {
    border-bottom-right-radius: 0.75rem; 
    border-bottom-left-radius: 0.75rem;
    padding: 0.75rem 2rem;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 0.25rem;
}
.navigation .nav-web .content:hover {
    background-color: #101010;
    font-weight: 700;
}
.navigation .nav-web .nav-db {
    height: 100%;
}
.navigation .nav-web .minicart {
    display: flex;
    align-items: center;
    /* gap: 0.25rem; */
    position: relative;
}
.navigation .nav-web .cart-menu {
    position: absolute;
    min-width: 500px;
    top: 100%;
    background-color: #101010;
    color: #fff;
    border-radius: 0.375rem;
    padding: 1rem 1.25rem;
    right: 0;
    display: flex;
    z-index: 50;
    flex-direction: column;
}
.navigation .nav-web .cart-menu p {
    margin-top: 1rem;
    cursor: pointer;
}

/* ---------- LOGIN - REGISTER - FORGOT ---------- */
.bg-frame {
    width: 100%;
    margin: 2.5rem 0;
}
.bg-frame .frame {
    background-color: #2f3033;
    width: 31rem;
    padding: 1.875rem 1.875rem 6rem 1.875rem;
    border-radius: 0.5rem;
    color: #fff;
}
.bg-frame .frame .title {
    font-weight: 700;
    font-size: xx-large;
    margin-bottom: 3rem;
}
.bg-frame .frame .forminput {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}
.bg-frame .frame .formbutton {
    margin-top: 3rem;
}
.bg-frame .frame .transit {
    margin-top: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bg-frame .frame .transit .text {
    color: #fff;
    cursor: pointer;
}
.bg-frame .frame .transit .text:hover {
    color: #3482F6;
}

/* ---------- MAIN ---------- */
.main {
    width: 84%;
    background: #3e3e3f;
    flex-direction: column;
}
.notice {
    width: 100%;
    height: 100%;
    margin: 15% 0;
}
.notice .form {
    background-color: #fff;
    border-radius: 1rem;
    width: 31rem;
    padding: 2rem;
}
.notice .form h2 {
    font-size: x-large;
    letter-spacing: 0.1em;
    font-weight: 800;
    margin-bottom: 0.75rem;
    color: #ff0000;
}

.homepage {
    width: 100%;
    flex-direction: column;
}
.homepage .main-content {
    width: 100%;
    display: flex;
    gap: 0.25rem;
}
.homepage .main-content .sidebar {
    width: 24%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem 0 2rem 0;
    align-items: center;
    justify-content: flex-start;
}
.homepage .main-content .list-pagination {
    width: 76%;
}
/* ---------- PRODUCT ---------- */
.related-product {
    width: 100%;
    height: 100%;
    background-color: #161616;
    margin: 1rem 0; 
    border-radius: 1.5rem;
    overflow-x: auto;
    white-space: nowrap;
}
.related-product p {
    font-weight: 700;
    font-size: x-large;
    text-align: center;
    color: white;
    letter-spacing: 0.05em;
}
.list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 0.5rem;
    align-items: center;
    justify-content: space-between;
}
.card-items {
    display: inline-block;
    height: 21rem;
    width: 17rem;
    margin: 1rem 0.75rem;
    background-color: #323232;
    align-items: center;
    border-radius: 1.5rem;
}
.card-items:hover {
    box-shadow: 0 0 15px 0 white;
}
.card-items .icons {
    height: 5%;
    color: #fff;
    display: flex;
    align-items:flex-end;
    padding: 2rem 1rem 0 0px;
    justify-content: end;
    font-size: larger;
}
.card-items .image {
    height: 55%;
}
.card-items .content {
    height: 40%;
    color: #fff;
}
.card-items .content span {
    font-size: medium;
}
.card-items .content .tag {
    flex-direction: column;
    margin-top: 0.5rem;
}
.card-items .content .tag .price {
    font-size: large;
    font-weight: 600;
    margin: 1px;
}
.card-items .content .tag .basicprice-discount {
    display: flex;
}
.card-items .content .tag .basicprice-discount .basic-price {
    text-decoration-line: line-through;
    font-size: small;
    margin: 1px;
    color: #3482F6;
}
.card-items .content .tag .basicprice-discount .discount {
    margin: 1px;
    color: #ff0000;
    font-weight: 600;
    font-size: medium;
}

/* ---------- DETAILPRODUCT ---------- */
.detail-product {
    width: 100%;
    flex-direction: column;
}
.detail-product .frame {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    margin-bottom: 2.5rem;
}
.detail-product .frame .image {
    padding: 2rem;
    width: 100%;
}
.detail-product .frame .content {
    margin-top: 2.5rem;
    padding: 0 2rem;
    border-left: 1px solid #101010;
    color: #fff;
}
.detail-product .frame .content .name {
    font-weight: 700;
    font-size: 2.25rem;
}
.detail-product .frame .content .address {
    margin: 1.25rem 0;
    font-size: medium;
}
.detail-product .frame .content .price {
    font-size: x-large;
    font-weight: 600;
}
.detail-product .frame .content .promotion {
    margin: 1.25rem 0.25rem;
    background-color: #161616;
    border-radius: 0.5rem;
}
.detail-product .frame .content .promotion p.title {
    padding: 0.75rem;
    border-bottom: 1px solid #323232;
    font-weight: 600;
    font-size: large;
}
.detail-product .frame .content .promotion p.text {
    padding: 0.75rem 1.25rem;
    white-space: pre-wrap;
}
.detail-product .frame .content .btn {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 0.5rem;
    height: 3.5rem;
}
.detail-product .frame .content .information {
    margin: 1.25rem;
    white-space: pre-wrap;
}

/* ---------- RENTAL ---------- */
.rental {
    width: 100%;
    flex-direction: column;
    color: #fff;
}
.rental .headTitle {
    margin: 2.5rem 0;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2.25rem;
    letter-spacing: 0.1em;
}
.rental .main-rental {
    width: 100%;
    display: flex;
    gap: 0.25rem;
}
.rental .main-rental .side-bar-rental {
    width: 24%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1.25rem;
    align-items: center;
    justify-content: start;
}
.rental .main-rental .main-rental-content {
    width: 76%;
}

/* ---------- PERSONAL INFORMATION ---------- */
.personalInfo .formaccout .table-account-form {
    width: 100%;
    padding: 1rem 2.5rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 0.75rem;
}
.personalInfo .formaccout .table-account-form .form {
    grid-column: span 2 / span 2;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 0.75rem;
}
.personalInfo .invoice-like .header-invoicelike{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}
.personalInfo .invoice-like .header-invoicelike .title {
    font-weight: 600;
    font-size: x-large;
}
.personalInfo .invoice-like .pi-table-invoicedetail {
    padding: 1.25rem 2.5rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1rem;
}
.personalInfo .invoice-like .pi-table-invoicedetail .pi-invoice,
.personalInfo .invoice-like .pi-table-invoicedetail .pi-detail {
    height: 20rem;
    overflow: auto;
    width: 100%;
    background-color: #a0a0a0;
    color: #000;
    border-radius: 1rem;
}
.personalInfo .invoice-like .pi-table-invoicedetail .pi-invoice table th, td,
.personalInfo .invoice-like .pi-table-invoicedetail .pi-detail table th, td {
    padding: 0.5rem;
}
.personalInfo .invoice-like .pi-table-invoicedetail .pi-invoice table thead,
.personalInfo .invoice-like .pi-table-invoicedetail .pi-detail table thead {
    position: sticky;
    top: 0;
    background-color: #323232;
    color: #fff;
    border-radius: 0.25rem;
}
.personalInfo .invoice-like .pi-table-invoicedetail .pi-detail {
    grid-column: span 2 / span 2;
}
.personalInfo .invoice-like .pi-like {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

/* ---------- CART ---------- */
.cart, .personalInfo {
    width: 100%;
    margin: 2.5rem 0;
    padding: 0.75rem;
    color: #fff;
}
.cart .title,
.personalInfo .formaccout .title {
    font-size: xx-large;
    font-weight: 700;
    letter-spacing: 0.05em;
    margin-left: 0.75rem;
}
.cart .table {
    width: 100%;
    margin-top: 1.25rem;
}
.cart .table table {
    width: 100%;
    background-color: #2f3033;
    padding: 1rem;
}
.cart .table table tr th, td {
    padding: 0.75rem;
}
.cart .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.25rem;
}
.cart .footer .btn {
    outline: 2px solid transparent;
    border-radius: 0.375rem;
    font-weight: 600;
    gap: 0.25rem;
    color: #fff;
    padding: 0.5rem 1rem;
    margin: 0 0.25rem;
}

/* ---------- PAYMENT ---------- */
.payment {
    color: #fff;
    width: 84%;
    margin: 2.5rem 0;
    padding: 0.75rem;
}
.payment .main-payment {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 0.5rem;
    margin: 1.25rem 0;
    padding: 0 0.25rem;
}
.payment .main-payment .cart-info {
    grid-column: span 2 / span 2;
}
.payment .main-payment .payment-btn{
    width: 100%;
    grid-column: span 2 / span 2;
    margin: 1.25rem 0.5rem;
    gap: 0.5rem;
}

/* ---------- WEB SERVER ---------- */
.provider, .role, .product, .dashboard, .account, .category,
.sample, .invoice, .page-product, .slider {
    width: 100%;
    padding: 0.5rem;
    margin: 1rem 0;
    color: #fff;
}

/* ---------- DASHBOARD ---------- */
.dashboard .title {
    font-size: 2.25rem;
    font-weight: 700;
    letter-spacing: 0.1em;
}
.dashboard .dashboard-container {
    margin-top: 1.25rem;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 0.5rem;
    justify-content: space-between;
    align-items: center;
}
.dashboard .dashboard-container .container {
    width: 100%;
     margin: 0.5rem;
     display: flex;
     border-radius: 0.75rem;
}
.dashboard .dashboard-container .container .icons {
    width: 30%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    color: #fff
}
.dashboard .dashboard-container .container .content {
    width: 70%;
    padding: 0.5rem;
    background-color: #fafafa;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.dashboard .dashboard-container .container .content .title {
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: 0.05em;
}
.dashboard .div-table {
    margin: 1.25rem 0;
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    gap: 0.5rem;
    padding-left: 0.75rem;
}
.dashboard .div-table .title {
    font-weight: 600;
    letter-spacing: 0.05em;
    font-size: 1.5rem;
    grid-column: span 4 / span 4;
}
.dashboard .div-table .form-search {
    display: flex;
    padding: 0.5rem;
    grid-column: span 2 / span 2;
    justify-content: flex-end;
    gap: 0.5rem;
}
.dashboard .div-table .form-search .input {
    width: 50%;
    align-items: center;
    color: #000;
    border-radius: 0.5rem;
    padding: 0 0.5rem;
}
.dashboard .div-table .table-bestseller,
.dashboard .div-table .newinvoice {
    width: 100%;
    height: 400px;
    /* padding-left: 0.75rem; */
    /* background-color: #a0a0a0; */
    color: #000;
    border-radius: 1rem;
    overflow: auto;
}
.dashboard .div-table .table-bestseller {
    grid-column: span 4 / span 4;
}
.dashboard .div-table .newinvoice {
    grid-column: span 2 / span 2;
}
.custom-tooltip {
    background-color: #a0a0a0;
    color:#000;
    padding: 0.75rem 1.25rem;
    border-radius: 0.5rem;
}
.custom-tooltip .label {
    font-weight: 600;
    letter-spacing: 0.075em;
}
.custom-tooltip .quantity,
.custom-tooltip .total {
    font-size: medium;
}

/* ---------- INVOICE ---------- */
.invoice .invoice-accept-detail {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 0.5rem;
}
.invoice .invoice-accept-detail .invoice-accept,
.invoice .invoice-accept-detail .invoice-detail {
    height: 11rem;
}
.invoice .invoice-all .header-invoice {
    margin-bottom: 0.75rem;
}
.invoice .invoice-all .header-invoice .input {
    width: 100%;
    align-items: center;
    color: #000;
    border-radius: 0.5rem;
    padding: 0 0.5rem;
}
.invoice .invoice-all .header-invoice .title {
    font-size: 1.5rem;
    font-weight: 600;
    grid-column: span 3 / span 3;
    letter-spacing: 0.1em;
}

/* ---------- PAGE PRODUCT ---------- */
.page-product .title{
    font-size: 2.25rem;
    font-weight: 700;
    letter-spacing: 0.1em;
}

/* ---------- PROVIDER / PRODUCT / ACCOUNT / CATEGORY / SAMPLE ---------- */
.provider .header-provider,
.product .header-product,
.account .header-account,
.sample .header-sample,
.invoice .invoice-all .header-invoice,
.category .header-category,
.slider .header-slider{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}
.provider .header-provider .title,
.product .header-product .title,
.account .header-account .title,
.sample .header-sample .title,
.invoice .title,
.category .header-category .title,
.slider .header-slider .title{
    font-size: 2.25rem;
    font-weight: 700;
    grid-column: span 3 / span 3;
    letter-spacing: 0.1em;
}
.provider .form-create,
.account .form-create,
.sample .form-create,
.category .form-create,
.slider .form-create {
    margin: 1rem 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 0.5rem;
}
.slider .form-create .btn-slider {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 0.25rem;
    padding: 0.5rem 0 0 0;
}
.provider .list-table,
.product .list-table, 
.account .list-table, 
.category .list-table, 
.slider .list-table, 
.sample .list-table, 
.role .form-frame .list-table,
.invoice .invoice-all .list-table,
.invoice .invoice-accept-detail .invoice-accept,
.invoice .invoice-accept-detail .invoice-detail   {
    width: 100%;
    background-color: #a0a0a0;
    color: #000;
    border-radius: 1rem;
    overflow: auto;
}
.provider .list-table table th, td,
.product .list-table table th, td,
.account .list-table table th, td,
.category .list-table table th, td,
.slider .list-table table th, td,
.invoice .invoice-all .list-table table th, td,
.invoice .invoice-accept-detail .invoice-accept table th, td,
.invoice .invoice-accept-detail .invoice-detail table th, td,
.sample .list-table table th, td,
.role .form-frame .list-table table th, td,
.dashboard .div-table .table-bestseller table th, td,
.dashboard .div-table .newinvoice table th, td{
    padding:0.5rem;
}
.provider .list-table table thead,
.product .list-table table thead,
.account .list-table table thead,
.category .list-table table thead,
.slider .list-table table thead,
.sample .list-table table thead,
.invoice .invoice-all .list-table table thead,
.invoice .invoice-accept-detail .invoice-accept table thead,
.invoice .invoice-accept-detail .invoice-detail table thead,
.role .form-frame .list-table table thead,
.dashboard .div-table .table-bestseller table thead,
.dashboard .div-table .newinvoice table thead {
    position: sticky;
    top: 0;
    background-color: #323232;
    color: #fff;
    border-radius: 0.25rem;
}

/* ---------- ROLE ---------- */
.role .title {
    font-size: 2.25rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}
.role .form-frame {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 0.5rem;
    margin-bottom: 0.5rem;
}
.role .form-frame .form {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 0.5rem;
}
.role .form-frame .form .formheader-btn {
    grid-column: span 2 / span 2;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 0.5rem;
}
.role .form-frame .formheader-btn .btn {
    grid-column: span 2 / span 2;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 0.25rem;
}
.role .form-frame .form .dropselect select {
    color: #000;
}


.custom-icon {
    color: #fff
}


@media (min-width: 1100px) and (max-width: 1300px) {
    .main,
    .rental .main-rental .main-rental-content,
    .payment {
        width: 100%;
        padding: 2rem;
    }
    .homepage .main-content .sidebar,
    .rental .main-rental .side-bar-rental {
        width: 20%;
    }
    .side-bar .tagname .link .link-child,
    .side-bar .tagname .link-child {
        padding-left: 0.25rem;
    }
    .homepage .main-content .list-pagination {
        width: 80%;
    }
    .card-items {
        margin: 1rem 0.25rem;
    }
}

@media (min-width: 960px) and (max-width: 1099px) {
    .main,
    .rental .main-rental .main-rental-content,
    .payment {
        width: 100%;
        padding: 2rem;
    }
    .homepage .main-content .sidebar,
    .rental .main-rental .side-bar-rental {
        width: 20%;
    }
    .side-bar .tagname .link .link-child,
    .side-bar .tagname .link-child {
        padding-left: 0.25rem;
    }
    .homepage .main-content .list-pagination {
        width: 80%;
    }
    .card-items {
        width: 15rem;
        margin: 1rem 0.5rem;
    }
    .personalInfo .formaccout .table-account-form {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .personalInfo .formaccout .table-account-form .form {
        grid-column: span 1 / span 1;
    }
}

@media (min-width: 750px) and (max-width: 959px) {
    .header .content {
        width: 100%;
        padding: 1rem;
    }
    .navigation .nav-web {
        width: 100%;
        padding: 1rem;
    }
    .navigation .nav-web .content {
        padding: 0.75rem 1.25rem;
    }
    .main, .payment,
    .rental .main-rental .main-rental-content {
        width: 100%;
        padding: 1rem;
    }
    
    .homepage .main-content .sidebar,
    .rental .main-rental .side-bar-rental {
        width: 24%;
    }
    .side-bar .tagname .link .link-child,
    .side-bar .tagname .link-child {
        padding-left: 0.25rem;
    }
    .homepage .main-content .list-pagination {
        width: 76%;
    }
    .list, .personalInfo .invoice-like .pi-like {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .card-items {
        width: 17rem;
        margin: 0.5rem 0.25rem;
    }
    .main-footer .title {
        font-size: x-large ;
        margin-left: 1.5rem;
    }
    .main-footer .footer-content{
        padding: 1rem 2rem;
    }
    .personalInfo .formaccout .table-account-form {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .personalInfo .formaccout .table-account-form .form {
        grid-column: span 1 / span 1;
    }
}
@media (max-width: 800px) {
    .detail-product .frame {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        margin-bottom: 2.5rem;
    }
    .detail-product .frame .content {
        padding: 1rem auto;
        border: 0;
    }
    .payment .main-payment {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .payment .main-payment .payment-content {
        grid-column: span 2 / span 2;
        gap: 0.5rem;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .payment .main-payment .payment-btn{
        grid-column: span 1 / span 1;
    }
    .personalInfo .formaccout .table-account-form {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .personalInfo .formaccout .table-account-form .form {
        grid-column: span 1 / span 1;
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .personalInfo .invoice-like .pi-table-invoicedetail {
        padding: 1.25rem;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .personalInfo .invoice-like .pi-table-invoicedetail .pi-invoice {
        grid-column: span 2 / span 2;
    }
    .personalInfo .invoice-like .pi-table-invoicedetail .pi-invoice,
    .personalInfo .invoice-like .pi-table-invoicedetail .pi-detail {
        height: 16rem;
    }
}
@media (max-width: 749px) {
    .header .content {
        width: 100%;
        padding: 1rem;
    }
    .navigation .nav-web {
        width: 100%;
        padding: 1rem;
    }
    .navigation .nav-web .content {
        padding: 0.75rem 1.25rem;
    }
    .main, .payment,
    .rental .main-rental .main-rental-content {
        width: 100%;
        padding: 1rem;
    }
    .homepage .main-content .sidebar,
    .rental .main-rental .side-bar-rental {
        display: none;
    }
    .list, .personalInfo .invoice-like .pi-like {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .card-items {
        width: 17rem;
        margin: 0.5rem auto;
    }
    .homepage .main-content .list-pagination {
        width: 100%;
    }
    .main-footer .title {
        font-size: large ;
        margin-left: 1.5rem;
    }
    .main-footer .footer-content{
        font-size: small;
        padding: 1rem 2rem;
    }
    .personalInfo .formaccout .table-account-form .form{
        display: none;
    }
}

@media (max-width: 640px) {
    .navigation .nav-web {
        width: 100%;
    }
    .navigation .nav-web .content {
        padding: 0.75rem;
    }
}
@media (max-width: 579px) {
    .card-items {
        width: 16rem;
        margin: 0.5rem auto;
    }
    
}